.card {
	margin-bottom: 60px;
	display: flex;
	margin-left: 300px;
}
.card-data {
	width: 200px;
	height: 300px;
	margin-bottom: 25px;
	display: flex;
}
.card-img {
	width: 200px;
	height: 200px;
	margin-bottom: 30px;
}
.img-src {
	width: 200px;
	height: 300px;
}
.image-name {
	font-size: 30px;
}

body {
	font-family: "lato", sans-serif;
	color: white;
	background: linear-gradient(#bfd7ff, #9bb1ff, #e2afff, #5465ff);
}

h1 {
	text-align: center;
	font-family: "roboto", sans-serif;
	font-size: 60px;
	font-weight: 80px;
}

h3 {
	text-align: center;
}
